<h6>Note</h6>
<p>
  This documentation contains some AI generations. Please be aware that there could be technical inaccuracies, and/or
  hallucinations in some of the information. You are cordially invited to make corrections to the documentation as you
  see fit. Please see the contribution guide for details.
</p>