<!DOCTYPE html>
<html>

{% include head.liquid %}

<body class="light">
  {% include header.liquid %}
  <div class="container row flex">
    {% include navigation.liquid %}
    {% include search/dialog.liquid %}
    <div id="content" class="scroll-y">
      <div>
        {{ content }}
      </div>
    </div>
  </div>
</body>

</html>