<header id="documentHeader">
  <div class="container row padding-h-section">
    <h1 class="flex content-center-v"><a href="{{ site.baseurl }}/">Sprite</a></h1>
    <div class="content-center-v flex button-group">
      {% include search/toggle.liquid %}
      {% include navigation/toggle.liquid %}
    </div>
  </div>
</header>