<input type="checkbox" id="toggle{{include.title}}Results" value="{{include.value}}" checked />
<label for="toggle{{include.title}}Results" class="button content-center-v padding-3">
  {{include.title}}
</label>