{%
  include button/button.liquid
  icon="icons/search.svg"
  title="Search Documentation"
  id="search_button"
%}

{% comment %} <button id="search_button" class="button with-icon flex row radius-1 margin-h-section foreground-accent content-center-v">
  {% include icons/search.svg %}
  <span class="button-title margin-h-3">Search Documentation</span>
  <span id="search_shortcut" class="padding-3 foreground-accent">/</span>
</button> {% endcomment %}
