<a class="button with-icon radius-1 padding-3 content-center-v no-decoration"
  href="https://github.com/tragedy-labs/sprite/edit/main/docs/_tutorials/{{ page.filename }}"
  aria-label="Edit on Github">
  {%- include icons/github.svg %} Edit<span class="mobile-hidden"> on Github</span></a>