<button id="{{include.id}}" aria-label="{{include.title}}"
  class="button-reset big-icon foreground-1 padding-4 margin-4 radius-1 focus-ring fit-content-h {{include.class}}">
  {% include {{include.icon}} %}
</button>