<button aria-expanded="true" class="accordion-trigger button-reset foreground-1 no-outline full-width"
  aria-controls="sect-{{include.title}}" id="{{include.title}}">
  <span class="row menu-item with-icon med-icon padding-v-3 padding-h-2 block radius-1 content-center-v">
    {% include {{ include.icon }} %}
    {{ include.title }}
  </span>
</button>