@import "./utilities.scss";
@import "./display.scss";

.button {
  background: var(--background-2);
  border: var(--button-border);
  color: var(--foreground-1);
  line-height: 1rem;
  width: fit-content;
  align-items: center;
  line-height: 1.309rem;
  @include hover-bg;
  @include focus-bg;
  @include focus-ring;
  @include bold-text;
  @include highlight-shadow;
}

.button-group {

  button,
  a {
    margin-left: var(--space-2);
  }
}

.button-reset {
  background: unset;
  box-shadow: unset;
  border: unset;
}

.fill-space {
  width: 100%;
  display: block;
}

.with-icon {
  svg {
    width: 1.309rem;
    height: 1.309rem;
    margin-right: var(--space-4);
  }
}

.with-icon-right {
  svg {
    width: 1.309rem;
    height: 1.309rem;
    margin-left: var(--space-2);
  }
}

.med-icon {
  svg {
    width: 1.309rem;
    height: 1.309rem;
    margin-right: var(--space-2);
  }
}

.rtl {
  .with-icon {
    svg {
      margin: 0 0 0 var(--space-4);
    }
  }
}



.mobile-hidden {
  display: none;
}

@media (min-width: 680px) {
  .mobile-hidden {
    display: inline;
  }
}