#content {
  padding: 0 var(--space-section);
  flex: 1;
  display: flex;
  max-height: 100%;
  transition: opacity 125ms ease;
  flex-direction: column;
  align-content: flex-start;
  min-height: 100%;

  >div {
    width: 100%;
    max-width: 720px;
    margin: 0 auto var(--space-1) auto;
  }

  &.fade {
    opacity: 0.35;
  }
}

@media (max-width: 820px) {
  #content {

    >div {
      max-width: 100%;
      margin: 0;
    }
  }
}


// @media (max-width: 1300px) {
//   #content {
//     max-width: 760px;
//   }
// }